/* login */
$bg:#283443;
$light_gray:#fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
  .el-form-item__content{
      color: #889aa4;
      font-size: 13px;
      margin: 0 10px;
  }
}
/* Nav路由导航 */
.el-menu{
  border-right: none;
}
.el-menu-item {
  &.is-active{background-color: rgba(81, 45, 182, 0.2) !important;}
}
li.el-submenu{
  &.el-submenu.is-active .el-submenu__title{background-color: #263445 !important;}
}
.el-menu{border-right: none;}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  border-right: none;
}
.el-table .el-table__cell{
  text-align: center;
}
/* 路由导航 */
.el-submenu__title{
  display: flex;
  align-items: center;
}


